[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
jupyter = "*"
jupyterthemes = "*"
plotly = "*"
pandas = "*"
ipywidgets = "*"
jupyter-dash = "*"
pyarrow = "*"
mypy = "*"
line-profiler = "*"
py-heat-magic = "*"
memory-profiler = "*"
sciagraph = "*"
nbdime = "*"

[dev-packages]

[requires]
python_version = "3.11"
